.contacts {
    font-style: normal;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}
.contacts__schedule {
    text-decoration: underline;
    font-size: 13px;
    color: #d3a557;
    margin-top: -7px;
}
.contacts__text {
	font-size:11px;
}